@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width:992px) {
    body{ /*configuração tablet*/
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }
    
    section#login {
        width: 80vw; /*quando tiver o min de width vai virar 90%do vw*/
        height: 280px;
    }

    section#login > div#imagem {
        float: left; /*essa tag para deixar a imagem no lado esquerdo da tela e o width e height é usado por se tratar da imagem precisa ter o tamanho que tera*/
        width: 30%;
        height: 100%;
    }

    section#login > div#formulario {
        float: right;
        width: 70%;
    }

}

@media screen and (min-width: 992px) {
    body{ /*config telas grandes*/
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }

    section#login {
        width: 990px; 
        height: 285px;
    }

    section#login > div#imagem {
        float: right;
        width: 50%;
        height: 100%;
    }

    section#login > div#formulario {
        float: left;
        width: 50%;
    }

}